[Unit]
Description=Signal initialization done to GNOME Session Manager

PartOf=gnome-session.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/gnome-session-ctl --signal-init
