[Unit]
Description=Virtual filesystem service - Apple File Conduit monitor

[Service]
ExecStart=/usr/libexec/gvfs-afc-volume-monitor
Type=dbus
BusName=org.gtk.vfs.AfcVolumeMonitor
