[Unit]
Description=Virtual filesystem service - GNOME Online Accounts monitor

[Service]
ExecStart=/usr/libexec/gvfs-goa-volume-monitor
Type=dbus
BusName=org.gtk.vfs.GoaVolumeMonitor
